:root {
  --bg: rgb(254, 248, 255);
  --col:rgb(202, 27, 202);
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  font-family: sans-serif;
  transition: all 0.5s;
  background-color: var(--bg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 2px grey;
  padding: 10px 0px;
}

.leftNav {
  padding: 10px 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}

.rightNav {
  padding: 10px 20px;
}

#login, #signup {
  margin-right: 5px;
  border-radius: 6px;
  padding: 4px 12px;
}

#submit {
  border-radius: 6px;
  padding: 4px 12px;
}

select{
  border: none;
  background-color: white;
  border-radius: 6px;
  padding: 4px 12px;
  color: var(--col);
}

#login {
  border: var(--col) solid 1px;
  color: var(--col);
}

#login:hover {
  background-color: var(--col);
  color: var(--bg);
}

#signup, #submit {
  border: 1px solid var(--col);
  background-color: var(--col);
  color: var(--bg);
}

#login:hover {
  background-color: var(--col);
  color: var(--bg);
}

#mainbody {
  margin: 30px auto;
  width: 70%;
}

#searchhead {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Century Gothic';
}

#textsearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#searchbar {
  border-radius: 5px;
  border: 1.5px solid gray;
  box-shadow: 0px 0px 3px gray;
  padding: 5px;
  background-color: white;
  margin:5px 0px;
}

#filters {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding:20px;
  margin-top: 20px;
}
#filters div span{
  padding:0px 10px;
  color: grey;
  font-weight: 600;
  background-color: inherit;
}
#filters div:first-child,#filters div:nth-child(2){
  background-color: white;
  border-right: 2px gray solid;
  padding:0px 10px;
}
#filters div:nth-child(3){
  background-color: white;
  padding:0px 10px;
}
select{
  width: 0px;
  outline: none;
  border-radius: 0px 100px 100px 0;
}
select:hover{
  color: white;
  background-color: var(--col);
}
.image{
  border-radius: 10px 10px 0 0;
  height: 40%;
}
.description{
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.image img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.property{
  width:200px;
  height: 260px;
  margin:15px;
  border-radius: 10px;
  box-shadow: 0 0 4px grey;
}
.houses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price,.title,.address{
padding: 4px 8px;
border-radius: 10px;
}
.price span:nth-child(1){
  color: var(--col);
  font-weight: 600;
}
.price span:nth-child(2){
  color: grey;
}
.title{
  font-weight: 600;
}
.address{
  color: grey;
  font-size: 12px;
}
.closed{
  padding: 4px 8px 8px 8px;
  border-radius: 10px;
}